<div class="add-task">
    <button mat-fab extended routerLink="/create-task">
        <mat-icon>add</mat-icon>
        Add new task
    </button>
    <button mat-fab extended (click)="exportToCSV()" [disabled]="showSpinner">
        <mat-icon>share</mat-icon>
        Export to CSV
    </button>
    <a *ngIf="downloadReady" [href]="downlodUrl" download="exported_tasks.csv">
        <mat-icon>download</mat-icon>
        download exported tasks
    </a>
    <a *ngIf="showSpinner" style="display: inline-block;">
        <mat-spinner [diameter]="30"></mat-spinner>
    </a>
</div>
<div *ngIf="data?.length">
    <div *ngFor="let item of data" class="task-items">
        <app-task-item [taskItem]="item" (deleteTaskEvent)="onDeleteTask($event)"></app-task-item>
    </div>
    <mat-paginator [length]="tasksCount" [pageSize]="5" aria-label="Select page" (page)="onPageChange($event)">
    </mat-paginator>
</div>
<div *ngIf="!data?.length" class="no-tasks">
    <div>No tasks yet!</div>
</div>

<router-outlet />