<mat-card class="task-item" appearance="outlined">
  <mat-card-header>
    <div class="task-head">
      <mat-card-title>Task No. {{taskItem.id}}</mat-card-title>
      <div class="icons">
        <mat-icon aria-hidden="false" aria-label="Delete Task" fontIcon="delete"
          (click)="deleteTask(taskItem.id)" class="delete-icon"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Update Icon" fontIcon="edit" class="edit-icon" (click)="updateTask(taskItem)"></mat-icon>
      </div>

    </div>
  </mat-card-header>
  <mat-card-content>
    <p>{{taskItem.name}}</p>
  </mat-card-content>
  <mat-card-footer class="task-footer">
    <mat-chip-set>
      <mat-chip [ngClass]="{
          'done-chip': taskItem.status === 'Done',
          'progress-chip': taskItem.status === 'In progress',
        }">{{taskItem.status}}</mat-chip>
      <mat-chip>Created at: {{taskItem.created_at | date:'medium'}}</mat-chip>
    </mat-chip-set>
  </mat-card-footer>
</mat-card>